script(type='text/html', id='history-standard')
    div.historyTitle Cardset Statistics
    div.historyStats(data-bind="foreach: Statistics")
        div.historyStatistic
            span(data-bind="text: Title") 
            span(data-bind="text: ': '")
            span(data-bind="text: Value")
      
        
