script(type='text/html', id='info-text')
    div.infoContainer
        span(data-bind="text:Value")

script(type='text/html', id='info-markdown')
    div.infoContainer
        span(data-bind="html:Html")

script(type='text/html', id='info-bbcode')
    div.infoContainer
        span(data-bind="html:Html")

