script(type='text/html', id='info-text')
    div.infoContainer
        span(data-bind="text:Value")

script(type='text/html', id='info-html')
    div.infoContainer
        span(data-bind="html:Value")

