.bad{
    background-color: red;
}

.badNeutral{
    background-color: orange;
}

.neutral{
    background-color: yellow;
}

.goodNeutral{
    background-color: lime;
}

.good{
    background-color: green;
}

