
/*
gray: #282828
purple-main: #87649a
purple-one: #b8a6c2
purple-two: #9c81ab
purple-three: #73498a
purple-four: #5d2e77

green-main: #75b975
green-one: #b8dab8
green-two: #98cc98
green-three: #53a553
green-four: #328e32

*/

body{
    background-color: #101010;
    margin: 0 0 0 0;
    font: 25px "Helvetica Neue","Open Sans",sans-serif;
    font-weight: 100;
}

header{
    text-align: center;
    height: 70px;
}

header li {
    position: relative;
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.container{
    width: 100%;
}

.list-divide{
    margin: 0;
    padding: 0;
    float: left;
}

.list-divide li {
    display: inline-block;
    padding-left: 50px;
    padding-top: 35px;
}


.list-divide a{
    color: #75b975;
    font-size: 20px;
}

.list-divide li.current a{
    color: #b8dab8;
}

.bodyContent{
    text-align: center;
    background-color: whitesmoke;
    min-height: 300px;
}

.spacer10{
    height: 10px;
}

#logo{
    float: left;
    padding: 10px;
}

#card{
    border: solid black;
}
