
/*
dark purple: #211429

*/

body{
    background-color: #211429;
    margin: 0 0 0 0;
    font: 25px "Helvetica Neue","Open Sans",sans-serif;
    font-weight: 300;
    overflow: hidden;
}

header{
    height: 70px;
}

header li {
    position: relative;
    padding-bottom: 12px;
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.container{
    width: 100%;
}

.list-divide-pipe{
    margin: 0;
    padding: 29px 0 0 300px;
}

.list-divide-pipe li {
    display: inline-block;
}

.list-divide-pipe a{
    color: #b8a6c2;
    font-size: 16px;
}


.list-divide-pipe li.piped::before{
    content: '|';
    font-weight: 100;
    padding: 0 1.8em 0 1.8em;
    color: #b8a6c2;
}

.list-divide-pipe li.current a::after{
    content: " ";
    background-color: #b8a6c2;
    position: absolute;
    width: calc(100% + 64px);
    height: 12px;
    top: 69%;
    left: -16px;
}

.list-divide-pipe li.current.piped a::after {
    width: calc(100% + 2px);
    margin-left: 47px;
    left: 0;
}

.bodyContent{
    text-align: center;
    background-color: #dddddd;
    min-height: 300px;
}

.spacer10{
    height: 10px;
}

.spacer30{
    height: 30px;
}

.spacer480{
    height: 480px;
}

.cardTitle{
    background-color: #211429;
    height: 30px;
    width: 100%;
}

.card{
    position: relative;
    border: solid #211429 2px;
    background-color: whitesmoke;
    width: 720px;
    height: 405px;
    margin-left: -360px;
    left: 50%;
    right: 50%;
}

#logo{
    float: left;
    padding: 10px;
}

