
/*
dark purple: #211429
light purple: #b8a6c2
*/

body{
    background-color: #211429;
    margin: 0 0 0 0;
    font: 25px "Helvetica Neue","Open Sans",sans-serif;
    font-weight: 300;
    overflow: hidden;
    min-width: 800px;
}

header{
    height: 70px;
}

header li {
    position: relative;
    padding-bottom: 12px;
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.container{
    width: 100%;
}

.list-divide-pipe{
    margin: 0;
    padding: 29px 0 0 300px;
}

.list-divide-pipe li {
    display: inline-block;
}

.list-divide-pipe a{
    color: #dddddd;
    font-size: 16px;
}


.list-divide-pipe li.piped::before{
    content: ' ';
    font-weight: 100;
    padding: 0 1.8em 0 1.8em;
    color: #dddddd;
}

.list-divide-pipe li.current a::after{
    content: " ";
    background-color: #dddddd;
    border-radius: 7px;
    position: absolute;
    width: calc(100% + 70px);
    height: 20px;
    top: 65%;
    left: -100%;
}

.list-divide-pipe li.current.piped a::after {
    width: calc(100% + 2px);
    margin-left: 47px;
    left: 0;
}

.bodyContent{
    text-align: center;
    background-color: #dddddd;
    min-height: 300px;
}

.spacer10{
    height: 10px;
}

.spacer30{
    height: 30px;
}

.spacer480{
    height: 480px;
}

.titleContainer{
    background-color: #211429;
    height: 30px;
    width: 100%;
    text-align: center;
    font: 25px "Helvetica Neue","Open Sans",sans-serif;
    font-weight: 100;
}

.cardTitle{
    position: absolute;
    left: 20px;
    color: whitesmoke;
}

.cardTitleInfo{
    padding-left: 50px;
}

.cardHistory{
    position: absolute;
    right: 20px;
    color: whitesmoke;
}

.card{
    position: relative;
    border: solid #211429 2px;
    background-color: whitesmoke;
    width: 720px;
    height: 405px;
    margin-left: -360px;
    left: 50%;
    right: 50%;
}

.scoreContainer{
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.scoreContainer button{
    width: 20%;
    height: 100%;
    border: none;
}

.historyContainer{
    width: 100%;
    min-height: 40px;
    background: #355d2f;
    font: 25px "Helvetica Neue","Open Sans",sans-serif;
    font-weight: 100;
}

.historyTitle{
    width:100%;
    background: #47863d;
    color: whitesmoke;
    padding: 10px;
}

.historyStats{
    color: whitesmoke;
}

.historyStatistic{
    padding: 5px 35px 5px 35px;
    display: inline-block;
}

#logo{
    float: left;
    padding: 10px;
}

#loginButton{
    float: right;
    width: 100px;
    background: #355d2f;
    color: whitesmoke;
    font: 25px "Helvetica Neue","Open Sans",sans-serif;
    font-weight: 100;
    border: none;
}

#loginButton:hover{
    cursor: pointer;
    background-color: #22501B;
}

#loginButton:active{
    background-color: #11390B;
}

#loginContainer{
    float: right;
    margin: 15px 35px 0 0;
}

#welcomeText{
    float: right;
    color: whitesmoke;
    font: 25px "Helvetica Neue","Open Sans",sans-serif;
    font-weight: 100;
    letter-spacing: 3px;
}

#usernamePrompt{
    display: inline-block;
}

#password{
    margin: 0 15px 0 5px;
    border:none;
    height: 20px;
    padding: 4px 0 4px 10px;
    font: 12px "Helvetica Neue","Open Sans",sans-serif;
}

#username{
    margin: 0 5px 0 5px;
    border:none;
    height: 20px;
    padding: 4px 0 4px 10px;
    font: 12px "Helvetica Neue","Open Sans",sans-serif;
}
