extends layout
block additional-header-imports
    link(rel='stylesheet', href='/css/animation.css')
block content
    include ./templates/card-templates.jade
    div(class='container bodyContent')
        div.spacer30
        div(class="flip-container wait-left slide-on" data-bind= "slideOn: SlideOne, click: cardAction")
            div.flipper(data-bind="template: {name: 'card-standard', data: CardOne}")
        div(class="flip-container wait-left" data-bind= "slideOn: SlideTwo, click: cardAction")
            div.flipper(data-bind="template: {name: 'card-standard', data: CardTwo}")
        div.spacer480

    script.
        var indexPageModel;
        require(["knockout", "memmi/IndexPageModel"], function(ko, pageModel){
            indexPageModel = pageModel;
            ko.applyBindings(pageModel);
        });
