extends layout
block content
    include ./templates/information-templates.jade
    div(class='container bodyContent')
        div.spacer10
        div#card(data-bind="with: ActiveCard, click: cardAction")
           span.cardTitle(data-bind="text: CardId")
           div(data-bind="template: {name: InfoTemplate, data: ActiveSide}")


    script.
        var indexPageModel;
        require(["knockout", "memmi/IndexPageModel"], function(ko, pageModel){
            indexPageModel = pageModel;
            ko.applyBindings(pageModel);
        });
