extends layout
block additional-header-imports
    link(rel='stylesheet', href='/css/flip.css')
block content
    include ./templates/information-templates.jade
    div(class='container bodyContent')
        div.spacer10
        div.flip-container
            div.flipper(data-bind= "click: cardAction")
                div#card(data-bind="with: ActiveCard")
                    div.front(data-bind="with: Front")
                        span.cardTitle(data-bind="text: $parent.CardTitle")
                        div(data-bind="template: {name: Template, data: $data}")
                    div.back(data-bind="with: Back")
                        span.cardTitle(data-bind="text: $parent.CardTitle")
                        div(data-bind="template: {name: Template, data: $data}")

    script.
        var indexPageModel;
        require(["knockout", "memmi/IndexPageModel"], function(ko, pageModel){
            indexPageModel = pageModel;
            ko.applyBindings(pageModel);
        });
