doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/site.css')

    body
        header
            div.container
                img(id='logo', src='/images/logo.png')
                nav
                    ul.list-divide
                        each value, index in pages
                            li(class= index == selected_index ? "current" : "")
                                a(href= value.link)= value.title

    block content