doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/site.css')
        script(src='/js/lib/require.js')
        script(src='/js/require-config.js')
        block additional-header-imports

    body
        header
            div.container
                img(id='logo', src='/images/logo.png')
                nav
                    ul.list-divide
                        each value, index in pages
                            li(class= index == selected_index ? "current" : "")
                                a(href= value.link)= value.title

    div#bodyContentContainer
        block content
    div#footer
    footer
        block footer
